VITE_API_BASE_URL=http://localhost:10000
VITE_APP_ENV=development
VITE_SPARTA_SSO_ENABLED=true
VITE_SPARTA_BUILDING_LOGIN_URL=http://localhost:5174/login
VITE_SPARTA_MAINTENANCE_LOGIN_URL=http://localhost:5175/login
VITE_SPARTA_ENERGY_LOGIN_URL=http://localhost:5176/login
